  /* ------------------ COLORS ---------------- */
$primaryTextColor: #2b2b2b;
$secondaryTextColor: #487996;

$primaryBgColor: #ffffff;
$secondaryBgColor: #f5f5fa;

$primaryButtonColor: #f5f5fa;

/* ------------------ TRANSITION ---------------- */
$dur-time: 300ms;
$time-fun: ease-in-out;