<section class="take-order-hero">
  <div class="container take-order-hero__container">
    <h1 class="section__title-primary">ЗРОБИТИ ЗАМОВЛЕННЯ</h1>
    <div class="take-order-hero__flex">
    <div class="take-order-hero__img"></div>
    <div class="take-order-hero__wrap">
    <ul class="take-order-hero__textlist">
      <li class="take-order-hero__item">
        <p class="section-text">На цій сторінці ви можете зробити замовлення заповнивши форму і ми
        зв'яжемося з вами.</p>
      </li>
      <li class="take-order-hero__item">
        <p class="section-text">Наші фахівці допоможуть підібрати оптимальні для вас параметри і дадуть
        відповідь на всі ваші запитання.</p>
      </li>
    </ul>
    <ul class="take-order-hero__galerylist">
      <li class="take-order-hero__galeryitem"></li>
      <li class="take-order-hero__galeryitem"></li>
      <li class="take-order-hero__galeryitem"></li>
    </ul>
    </div>
    <div class="take-order-hero__decorleft"></div>
    <div class="take-order-hero__decorright"></div>
  </div>
</section>
