<section class="section section--padding-bottom">
  <div class="container">
	<div class="create-model__dekor-top_left"></div>
	<div class="create-model__dekor-top_right"></div>
	<div class="content-wrap">
		<h2 class="section__title-secondary section__title-xs-font">
			МИ СТВОРЮЄМО ФОТОРЕАЛІСТИЧНІ ЗОБРАЖЕННЯ МОДЕЛЕЙ
		 </h2>
		 <ul class="create-model__list">
			<li class="create-model__item">
			  <picture>
				 <source
					srcset="
					  ././images/modeling-creation/realistic_1-desk1-1x.jpg 1x,
					  ././images/modeling-creation/realistic_1-desk1-2x.jpg 2x
					"
					media="(min-width: 1440px)"
				 />
				 <source
					srcset="
					  ././images/modeling-creation/realistic_1-tab1-1x.jpg 1x,
					  ././images/modeling-creation/realistic_1-tab1-2x.jpg 2x
					"
					media="(min-width: 768px)"
				 />
				 <source
					srcset="
					  ././images/modeling-creation/realistic_1-mob1-1x.jpg 1x,
					  ././images/modeling-creation/realistic_1-mob1-2x.jpg 2x
					"
					media="(max-width: 767px)"
				 />
				 <img
					class="create-model__img--bottom-left-rad"
					src="././images/modeling-creation/realistic_1-desk1-1x.jpg"
					alt="зажим для труби"
				 />
			  </picture>
			</li>
			<li class="create-model__item">
			  <picture>
				 <source
					srcset="
					  ././images/modeling-creation/realistic_2-desk1-1x.jpg 1x,
					  ././images/modeling-creation/realistic_2-desk1-2x.jpg 2x
					"
					media="(min-width: 1440px)"
				 />
				 <source
					srcset="
					  ././images/modeling-creation/realistic_2-tab1-1x.jpg 1x,
					  ././images/modeling-creation/realistic_2-tab1-2x.jpg 2x
					"
					media="(min-width: 768px)"
				 />
				 <source
					srcset="
					  ././images/modeling-creation/realistic_2-mob1-1x.jpg 1x,
					  ././images/modeling-creation/realistic_2-mob1-2x.jpg 2x
					"
					media="(max-width: 767px)"
				 />
				 <img
					class="create-model__img--top-left-bottom-right-rad"
					src="././images/modeling-creation/realistic_2-desk1-1x.jpg"
					alt="електронний штангельциркуль"
				 />
			  </picture>
			</li>
			<li class="create-model__item">
			  <picture>
				 <source
					srcset="
					  ././images/modeling-creation/realistic_3-desk1-1x.jpg 1x,
					  ././images/modeling-creation/realistic_3-desk1-2x.jpg 2x
					"
					media="(min-width: 1440px)"
				 />
				 <source
					srcset="
					  ././images/modeling-creation/realistic_3-tab1-1x.jpg 1x,
					  ././images/modeling-creation/realistic_3-tab1-2x.jpg 2x
					"
					media="(min-width: 768px)"
				 />
				 <source
					srcset="
					  ././images/modeling-creation/realistic_3-mob1-1x.jpg 1x,
					  ././images/modeling-creation/realistic_3-mob1-2x.jpg 2x
					"
					media="(max-width: 767px)"
				 />
				 <img
					class="create-model__img--bottom-left-rad"
					src="././images/modeling-creation/realistic_3-desk1-1x.jpg"
					alt="електричны плата"
				 />
			  </picture>
			</li>
			<li class="create-model__item">
			  <picture>
				 <source
					srcset="
					  ././images/modeling-creation/realistic_4-desk1-1x.jpg 1x,
					  ././images/modeling-creation/realistic_4-desk1-2x.jpg 2x
					"
					media="(min-width: 1440px)"
				 />
				 <source
					srcset="
					  ././images/modeling-creation/realistic_4-tab1-1x.jpg 1x,
					  ././images/modeling-creation/realistic_4-tab1-2x.jpg 2x
					"
					media="(min-width: 768px)"
				 />
				 <source
					srcset="
					  ././images/modeling-creation/realistic_4-mob1-1x.jpg 1x,
					  ././images/modeling-creation/realistic_4-mob1-2x.jpg 2x
					"
					media="(max-width: 767px)"
				 />
				 <img
					class="create-model__img--top-left-bottom-right-rad"
					src="././images/modeling-creation/realistic_4-desk1-1x.jpg"
					alt="електрична котушка"
				 />
			  </picture>
			</li>
		 </ul>
	</div>
	<div class="create-model__dekor-bottom_right"></div>
	<div class="link-wrap">
		<a class="create-model__link button" href="./take-order.html">
			ЗРОБИТИ ЗАМОВЛЕННЯ
		 </a>
	</div>
		
	
   
  </div>
</section>
