<section class="section modeling-creations">
  <div class="container modal-crea__bg">
    <div class="modeling-creations__list">
      <h2 class="section__title-secondary">Способи створення моделі:</h2>

      <ul class="modeling-creations__item">
        <li class="modeling-creations__content">
          <p class="section-text">3D сканування</p>
        </li>
        <li class="modeling-creations__content">
          <p class="section-text">На основі фотографій з доданими розмірами</p>
        </li>
        <li class="modeling-creations__content">
          <p class="section-text">За ескізами з розмірами</p>
        </li>
        <li class="modeling-creations__content">
          <p class="section-text">За вашим кресленням</p>
        </li>
        <li class="modeling-creations__content">
          <p class="section-text">
            По вже існуючому прототипу шляхом зняття розмірів
          </p>
        </li>
      </ul>
    </div>

    <div class="model-creat__dec63"></div>
    <div class="model-creat__dec19"></div>
    <div class="model-hero__dec60"></div>

    <div class="modeling-creations__background"></div>
  </div>
</section>
