.section__title {
  font-family: 'CeraPro';
  @include fonts(null, 48, 60, null, uppercase);
  color: $secondaryTextColor;
}

.hero {
  padding-top: 92px;
  padding-bottom: 40px;

  @include tablet {
    padding-top: 104px;
  }

  @include desktop {
    padding-top: 190px;
    padding-bottom: 100px;
  }
}

.section {
  padding-bottom: 40px;

  @include desktop {
    padding-bottom: 100px;
  }
}

.section--padding-bottom {
  padding-bottom: 60px;

  @include desktop {
    padding-bottom: 80px;
  }
}

.section-main__hero {
  background-color: rgb(199, 193, 193);
  padding-top: 92px;
  padding-bottom: 40px;

  @include tablet {
    padding-top: 104px;
    padding-bottom: 60px;
  }

  @include desktop {
    padding-top: 188px;
    padding-bottom: 120px;
  }
}

.section-main {
  padding-bottom: 40px;

  @include tablet {
    padding-bottom: 60px;
  }

  @include desktop {
    padding-bottom: 120px;
  }
}

.section-main--padding-bottom {
  padding-bottom: 60px;

  @include tablet {
    padding-bottom: 80px;
  }

  @include desktop {
    padding-bottom: 100px;
  }
}

.section__title-primary {
  font-family: 'CeraPro';
  @include fonts(700, 24, 30, null, uppercase);
  color: $secondaryTextColor;

  @include tablet {
    @include fonts(700, 36, 45, null, uppercase);
  }

  @include desktop {
    @include fonts(700, 48, 60, null, uppercase);
  }
}

.section__title-secondary {
  font-family: 'CeraPro';
  @include fonts(700, 18, 23, null, uppercase);
  color: $secondaryTextColor;

  @include tablet {
    @include fonts(700, 24, 30, null, uppercase);
  }

  @include desktop {
    @include fonts(700, 36, 45, null, uppercase);
  }
}

.section__title-xs-font {
  font-family: 'CeraPro';
  @include fonts(700, 16, 20, null, uppercase);
  color: $secondaryTextColor;

  @include tablet {
    @include fonts(700, 24, 30, null, uppercase);
  }

  @include desktop {
    @include fonts(700, 36, 45, null, uppercase);
  }
}

.section-main__hero-title {
  font-family: 'CaviarDreams';
  @include fonts(400, 18, 21, null, uppercase);
  color: $primaryTextColor;

  @include tablet {
    @include fonts(400, 24, 28, null, uppercase);
  }

  @include desktop {
    @include fonts(400, 48, 56, null, uppercase);
  }
}

.section-text {
  font-family: 'CeraPro';
  @include fonts(300, 16, 20);

  @include desktop {
    @include fonts(300, 18, 23);
  }
}
