<section class="section gallery">
  <div class="container gallery__container">
    <h2 class="gallery__title">ГАЛЕРЕЯ</h2>
    <ul class="gallery__list">
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery-1-1x.jpg 1x,
              ./images/gallery-1-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/gallery-1-tab-1x.jpg 1x,
              ./images/gallery-1-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery-1-mob-1x.jpg 1x,
              ./images/gallery-1-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="gallery__image"
            src="./images/gallery-1-1x.jpg"
            alt="Разработчик"
          />
        </picture>
        <h3 class="gallery__descr">
          Інженерні методи аналізу та контролю якості
        </h3>
      </li>

      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery-2-1x.jpg 1x,
              ./images/gallery-2-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/gallery-2-tab-1x.jpg 1x,
              ./images/gallery-2-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery-2-mob-1x.jpg 1x,
              ./images/gallery-2-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="gallery__image"
            src="./images/gallery-2-1x.jpg"
            alt="Разработчик"
          />
        </picture>
        <h3 class="gallery__descr">Високоточне 3D сканування</h3>
      </li>

      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery-3-1x.jpg 1x,
              ./images/gallery-3-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/gallery-3-tab-1x.jpg 1x,
              ./images/gallery-3-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery-3-mob-1x.jpg 1x,
              ./images/gallery-3-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="gallery__image"
            src="./images/gallery-3-1x.jpg"
            alt="Разработчик"
          />
        </picture>
        <h3 class="gallery__descr">
          Створення точної копії на базі сканування reverse engineering
        </h3>
      </li>

      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery-4-1x.jpg 1x,
              ./images/gallery-4-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/gallery-4-tab-1x.jpg 1x,
              ./images/gallery-4-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery-4-mob-1x.jpg 1x,
              ./images/gallery-4-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="gallery__image"
            src="./images/gallery-4-mob-2x.jpg"
            alt="Разработчик"
          />
        </picture>
        <h3 class="gallery__descr">
          Всі цикли 3D проектування, створення фотореалістичних цифрових
          моделей
        </h3>
      </li>
    </ul>
    <div class="gallery__decortop"></div>
    <div class="gallery__decorright"></div>
    <div class="gallery__decorright-desktop"></div>
    <div class="gallery__decorleft"></div>
    <div class="gallery__decorbottom"></div>
  </div>
</section>
