<section class="hero-section">
        <div class="hero__container container">
            
            <!-- <div class="hero__box hero-box1"></div> -->
            <div class="hero__box hero-box2"></div>
            <div class="hero__box hero-box3"></div>
            <div class="hero__box hero-box4"></div>
            <div class="hero__box hero-box5"></div>
            <div class="hero__box hero-box6">
               <a href="#gallery" class="hero__box-link">
                    <img src="./images/main-hero/bi_arrow-up.svg" alt="" class="hero-icon">
                </a>
            </div>
            <div class="hero__box hero-box7"></div>
            <!-- <div class="hero__box hero-box8"></div> -->
            <!-- <div class="hero__box hero-box9"></div> -->
            <div class="hero__box hero-box10"></div>
            <div class="hero__box hero-box11"></div>
            <div class="hero__box hero-box12"></div>
            <div class="hero__box hero-box13"></div>
            <div class="hero__box hero-box14"></div>
            <div class="hero__box hero-box15"></div>
            <div class="hero__box hero-box16"></div>
            
            <div class="hero__content">
             
              <h1 class="hero__title">Інженерна, конструкторська та дизайнерська робота</h1>
            
              
                
              <ul class="hero__list">
                <li class="img-item pic1">
                  <picture>
                    <source
                      srcset="
                      ./images/main-hero/desk/1.jpg 1x,
                      ./images/main-hero/desk/1_2x.jpg 2x"
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                      ./images/main-hero/tab/1tab.jpg 1x,
                      ./images/main-hero/tab/1tab_2x.jpg 2x"
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                      ./images/main-hero/mob/1mob.jpg 1x,
                      ./images/main-hero/mob/1mob_2x.jpg 2x"
                      media="(max-width: 767px)"
                    />
                    <img src="./images/main-hero/desk/1.jpg" alt="product img"/>
                  </picture>
                </li>
                <li class="img-item pic2">
                  <picture>
                    <source
                      srcset="
                      ./images/main-hero/desk/2.jpg 1x,
                      ./images/main-hero/desk/2_2x.jpg 2x"
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                      ./images/main-hero/tab/2tab.jpg 1x,
                      ./images/main-hero/tab/2tab_2x.jpg 2x"
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                      ./images/main-hero/mob/2mob.jpg 1x,
                      ./images/main-hero/mob/2mob_2x.jpg 2x"
                      media="(max-width: 767px)"
                    />
                    <img src="./images/main-hero/desk/2.jpg" alt="product img"/>
                  </picture>
                </li>
                <li class="img-item pic3">
                  <picture>
                    <source
                      srcset="
                        ./images/main-hero/desk/3.jpg 1x,
                        ./images/main-hero/desk/3_2x.jpg 2x"
                        media="(min-width: 1440px)"
                      />
                      <source
                        srcset="
                        ./images/main-hero/tab/3tab.jpg 1x,
                        ./images/main-hero/tab/3tab_2x.jpg 2x"
                        media="(min-width: 768px)"
                      />
                      <source
                        srcset="
                        ./images/main-hero/mob/3mob.jpg 1x,
                        ./images/main-hero/mob/3mob_2x.jpg 2x"
                        media="(max-width: 767px)"
                      />
                      <img src="./images/main-hero/desk/3.jpg" alt="product img"/>
                    </picture>
                  </li>
              </ul>
             
             
              <p class="hero__text">Ми втілюємо ідеї в реальність</p>
            
            </div>
            
          </div>
    </section>