.content-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: 40px;

  @include tablet {
    justify-content: left;
    margin-bottom: 60px;
  }
  @include desktop {
    margin-bottom: 80px;
  }
  @include tablet {
  }
}

.section__title-xs-font {
  display: block;
  width: 280px;
  padding-right: 20px;
  margin-bottom: 16px;

  @include tablet {
    width: 620px;
    margin-bottom: 24px;
  }

  @include desktop {
    width: 842px;
    margin-left: 117px;
    margin-bottom: 40px;
  }
}

.create-model__list {
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px 20px;

  @include tablet {
    width: 100%;
    flex-wrap: nowrap;
    gap: 32px;
  }
}

.create-model__img--bottom-left-rad {
  border-bottom-left-radius: 50px;
}

.create-model__img--top-left-bottom-right-rad {
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.link-wrap {
  display: flex;
  justify-content: center;
}

.create-model__dekor-top_left {
  position: absolute;
  top: 40px;
  left: -18px;

  width: 74px;
  height: 74px;

  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 0px 35px;

  @include tablet {
    display: none;
  }

  @include desktop {
    top: -42px;
    left: -22px;

    display: block;
    width: 137px;
    height: 144px;

    border-radius: 72px;
  }
}

.create-model__dekor-top_right {
  position: absolute;
  top: 0;
  right: -18px;

  width: 74px;
  height: 74px;

  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 25px 0px;
  transform: rotate(90deg);

  @include tablet {
    display: none;
  }
}

.create-model__dekor-bottom_right {
  position: absolute;
  bottom: 22px;
  right: -15px;

  width: 74px;
  height: 74px;

  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 25px 0px;

  @include tablet {
    display: none;
  }
}
