/*=================== FOOTER =========================*/
.footer {
  background-color: $secondaryBgColor;
  box-shadow: 5px 2px 5px 8px rgba(72, 121, 150, 0.1);
  &__img {
    width: 192px;
    height: 48px;
  }
  &__logo {
    margin-bottom: 19px;
  }
}

.footer__content {
  @media screen and (max-width: 1339px) {
    width: 100%;
  }

  @include tablet {
    display: flex;
    justify-content: space-between;
  }

  @include desktop {
    flex-grow: 1;
  }
}

.footer-nav {
  margin-bottom: 24px;
  &__item:not(:last-child) {
    margin-bottom: 8px;
  }
}

.social {
  margin-bottom: 24px;
  &__item:not(:last-child) {
    margin-bottom: 8px;
  }
}

.contacts__wrapper {
  text-align: center;
}
.contacts__text {
  margin-bottom: 8px;
}
.contacts__mail {
  margin-bottom: 16px;
}

.contacts__text,
.footer-nav__link,
.social__link {
  @include fonts(400, 16, 20.11);
  font-style: normal;
  font-family: 'CeraPro';
  color: $primaryTextColor;
  
}
.footer-nav__link:focus,
.footer-nav__link:hover,
.social__link:focus,
.social__link:hover{
  color: $secondaryTextColor;
  @include transition($primaryTextColor, $sproperty: false, $tproperty: false);
    
}

.tel__item:not(:last-child) {
  margin-bottom: 8px;
}
.tel__link,
.mail__link {
  font-family: 'CeraPro';
  font-style: normal;
  color: $secondaryTextColor;
}

@media screen and (max-width: 767px) {
  .footer__wrapper {
    padding: 32px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@include tablet {
  .footer__wrapper {
    padding: 32px 0px;
  }

  .footer__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .footer-nav {
    text-align: start;
    margin-bottom: 0;
    margin-right: 52px;
  }
  .social {
    text-align: start;
    margin-bottom: 0;
  }
  .contacts__wrapper {
    text-align: end;
    flex: 1 1 auto;
  }
}

@include desktop {
  .footer__wrapper {
    display: flex;
    padding: 40px 0px;
  }

  .footer__logo {
    margin-right: 277px;
    margin-bottom: 0;
  }

  .social {
    margin-right: 161px;
  }

  .footer-nav {
    margin-right: 103px;
  }

  .contacts__wrapper {
    text-align: start;
  }
}
