.gallery {
  font-family: 'CeraPro', sans-serif;
}

.gallery__container {
  position: relative;
  @include desktop {
    padding-left: 149px;
    padding-right: 149px;
  }
}

.gallery__title {
  margin-bottom: 16px;
  @include fonts(700, 24, 30, null, uppercase);
  color: $secondaryTextColor;

  @include tablet {
    margin-bottom: 32px;
    @include fonts(700, 36, 45, null, uppercase);
  }

  @include desktop {
    margin-bottom: 62px;
    @include fonts(null, 48, 60, null, uppercase);
  }
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;

  @include tablet {
    gap: 32px;
  }

  @include desktop {
    gap: 40px;
  }
}

.gallery__item {
  z-index: 1;

  @include tablet {
    flex-basis: calc((100% - 32px) / 2);
  }

  @include desktop {
    flex-basis: calc((100% - 40px) / 2);
  }
}

.gallery__descr {
  width: 280px;
  margin-top: 8px;
  @include fonts(300, 16, 20);
  color: $secondaryTextColor;

  @include tablet {
    margin-top: 16px;
    width: 315px;
  }

  @include desktop {
    @include fonts(300, 18, 23);
    width: 515px;
  }
}

.gallery__decortop {
  display: none;
  position: absolute;
  width: 73.65px;
  height: 73.65px;
  left: -29px;
  top: -45px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 35px 0px;

  @include tablet {
    width: 73.65px;
    height: 74.05px;
    left: 32.1px;
    top: 171;
    border-radius: 25px 0px;
  }

  @include desktop {
    width: 110.23px;
    height: 144px;
    left: 33px;
    top: 0px;
    border-radius: 0px 0px 72px 0px;
  }
}

.gallery__decorright {
  position: absolute;
  width: 73.65px;
  height: 73.65px;
  right: -15px;
  top: 240px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px;

  @include mobile {
    left: 350px;
    top: 220px;
  }

  @include tablet {
    width: 73.65px;
    height: 74.05px;
    left: 711px;
    top: 69px;
  }

  @include desktop {
    width: 144.18px;
    height: 144.29px;
    left: 1360px;
    top: 325px;
  }
}

.gallery__decorright-desktop {
  display: none;

  @include desktop {
    display: block;
    position: absolute;
    width: 144px;
    height: 144px;
    left: 1264px;
    top: 180px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 72px 0px 0px 0px;
  }
}

.gallery__decorleft {
  position: absolute;
  width: 73.65px;
  height: 73.65px;
  left: -17px;
  top: 303px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 25px 0px;

  @include tablet {
    width: 73.65px;
    height: 74.05px;
    left: 662px;
    top: 33px;
    border-radius: 35px 0px 0px 0px;
  }

  @include desktop {
    width: 140px;
    height: 161px;
    left: 30px;
    top: 400px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 72px 0px;
  }
}

.gallery__decorbottom {
  @include desktop {
    position: absolute;
    width: 144px;
    height: 144px;
    top: 671px;
    left: 1264px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
    background-image: url(../images/tank-1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/tank-2x.jpg);
    }
  }
}
