.modeling-hero {
  padding-top: 92px;
  padding-bottom: 40px;

  @include tablet {
    padding-top: 104px;
  }

  @include desktop {
    padding-top: 190px;
  }
}
.modeling-hero__item {
  margin-left: 0;
  @include tablet {
    /*padding-left: 32px;
        padding-right: 32px;*/
  }
  @include desktop {
    padding-left: 117px;
    padding-right: 117px;
  }
}

.modeling-hero-list {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 16px;

  @include tablet {
    width: 515px;
  }
  @include desktop {
    flex-direction: row;
    width: 100%;
    font-size: 18px;
    line-height: 1.277px;
    gap: 72px;
    margin-top: 24px;

    &__item {
      flex-basis: calc((100% - 72px) / 2);
    }
  }
}

.model-hero__dec12 {
  position: absolute;
  top: 185;
  left: -29;
  width: 74px;
  height: 74px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 35px 0px;

  @include tablet {
    display: none;
  }
}

.model-hero__dec5 {
  @include tablet {
    position: absolute;
    top: 118;
    left: 32;
    width: 74px;
    height: 71px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 0px 35px;
  }
  @include desktop {
    display: none;
  }
}
.model-hero__dec58 {
  @include tablet {
    position: absolute;
    top: -22;
    right: 32;
    width: 71px;
    height: 64px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 35px 0px 0px;

    transform: rotate(180deg);
  }

  @include desktop {
    display: none;
  }
}
.model-hero__dec3 {
  @include desktop {
    position: absolute;
    top: 0;
    left: 35;
    width: 82px;
    height: 82px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 72px 0px;
  }
}
.model-hero__dec61 {
  @include desktop {
    position: absolute;
    top: -32;
    right: 32;
    width: 144px;
    height: 144px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 72px 0px;
    transform: rotate(90deg);
  }
}
