.container--more-photo{
    @include desktop{
        padding: 0 149px;
    }
}
.more-photo {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    margin: 16px 0;

    @include tablet{
        gap: 32px;
        margin: 32px 0 0;
    }
    @include desktop{
        margin: 60px 0 12px;
    }
 
  
    &__item {
        cursor: pointer;

        @media screen and (max-width: 767px){
            &:nth-child(n + 4) {
                display: none;
            }
        }       
    }

    &__load-icon { 
        display: block;
        width: 45px;
        height: 45px;
        margin: 0 auto; 

        animation: loading infinite 3000ms 0ms;

        @media screen and (min-width: 768px) and (max-width: 1439px){
            display: none;
        }
    }
}
.myModal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(43, 43, 43, 0.8);
}
.modal-content {
    margin: 20% auto;
    width: 100%;
    @include mobile{
      width: 480px;
    }
    @include tablet{
      width: 735px;
      margin: 10% auto;
    }
    @include desktop{
      width: 1000px;
      margin: 10% auto;
    }
  }

.close {
    position: relative;
    top: 6%;
    left: 50%;
    display: block;
    
    font-size: 28px;
    font-weight: bold;

    @include mobile {
      top: 10%;
    }
    @include tablet {
      top: 5%;
    }
    @include desktop {
      top: 10%;
    }

    &__icon {
      width: 45px;
      height: 45px;
      fill: white;

      &:hover,
      &:focus {
        fill: violet;
      }
      @include tablet {
        width: 15px;
        height: 15px;
      }
      @include desktop{ 
        width: 20px;
        height: 20px;
      }
    }
    &:hover,
    &:focus {
      color: $secondaryTextColor;
      text-decoration: none;
      cursor: pointer;
    }    
}
  

  // Слайдер
.slider-modal {
    &__img {
      @media screen and(min-width: 320px) {
        width: 80%;
        margin: 0 auto;
      }
      @include desktop{ 
        width: 80%;
      }
    }
    &__img-big {
      @media screen and(min-width: 320px) {
        width: 80%;
        margin: 0 auto;
      }
      @include tablet {
        width: 60%;
      }
      @include desktop{  
        width: 50%;
      }
    }
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
  
.mySlides {
    display: none;
}

  .prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    left: 15px;
    border-radius: 0 3px 3px 0;
    &__icon {
      width: 11px;
      height: 10px;
    //   fill: ;
      &:hover,
      &:focus {
        fill: violet;
      }
      @include tablet{ 
        width: 26px;
        height: 26px;
      }
      @include desktop{
        width: 42px;
        height: 42px;
      }
    }
}

.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    right: 15px;
    border-radius: 3px 0 0 3px;
    &__icon {
      width: 11px;
      height: 10px;
    //   fill: $spotBackgroundColor;
      &:hover,
      &:focus {
        fill: $secondaryTextColor;
      }
      @include tablet{ 
        width: 26px;
        height: 26px;
      }
      @include desktop{
        width: 42px;
        height: 42px;
      }
    }
}
  
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,
  .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
}