.hero--pb {
  @include desktop {
    padding-bottom: 22px;
  }
}
.hero--bg {
  padding-bottom: 215px;
  z-index: 3;

  background-size: 280px 199px;
  background-repeat: no-repeat;
  background-position: 50% 100%;

  background-image: url('../images/scanning-hero-img/scanning-hero-mob.jpg');
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/scanning-hero-img/scanning-hero-mob-2x.jpg');
  }
  @include tablet {
    padding-bottom: 0;
    background-size: 241px 172px;
    background-repeat: no-repeat;
    background-position: right 6px bottom 40px;

    background-image: url('../images/scanning-hero-img/scanning-hero-tab.jpg');
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/scanning-hero-img/scanning-hero-tab-2x.jpg');
    }
  }
  @include desktop {
    padding-bottom: 100px;
    background-size: 435px 286px;
    background-repeat: no-repeat;
    background-position: right 237px bottom 0px;

    background-image: url('../images/scanning-hero-img/scanning-hero-dec.jpg');
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/scanning-hero-img/scanning-hero-dec-2x.jpg');
    }
  }
}
.section__list {
  display: flex;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
  @media screen and(min-width:768px) {
    width: 515px;
  }
  @include desktop {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 24px 72px;
    width: 100%;
    margin-top: 24px;
  }
}

.order {
  @include desktop {
    order: 2;
  }
}
.section__wrap {
  width: 100%;
  @media screen and(min-width:768px) {
    display: block;
  }
  @include desktop {
    display: flex;
    flex-wrap: wrap;
    padding-left: 117px;
    padding-right: 117px;
  }
}
.section__link {
  @include desktop {
    width: calc((100% - 72px) / 2);
  }
}

.scanning-hero-decor-1 {
  position: absolute;
  width: 74px;
  height: 74px;
  left: -37px;
  top: 242px;
  background: rgba(255, 255, 255, 0);
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 35px 0px;
  @media screen and(min-width:768px) {
    height: 71px;
    left: 32px;
    top: 222px;
    background: rgba(255, 255, 255, 0);
    border-radius: 0px 0px 0px 35px;
    transform: rotate(-90deg);
  }
  @media screen and(min-width:1440px) {
    width: 82px;
    height: 78px;
    left: 32px;
    top: 0;
    background: rgba(255, 255, 255, 0);
    border-radius: 0px 0px 72px 0px;
    transform: none;
  }
}
.scanning-hero-decor-2 {
  position: absolute;
  width: 74px;
  height: 74px;
  left: 83%;
  top: 45%;
  background: rgba(255, 255, 255, 0);
  border-radius: 72px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  @media screen and(min-width:768px) {
    width: 74px;
    left: 664px;
    top: 100%;
    background: rgba(255, 255, 255, 0);
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 25px 0px;
  }
  @media screen and(min-width:1440px) {
    width: 144px;
    height: 137px;
    left: 1271px;
    top: -40px;
    background: rgba(255, 255, 255, 0);
    border-radius: 0px 0px 72px 0px;
    transform: rotate(90deg);
  }
}
.scanning-hero-decor-3 {
  position: absolute;
  width: 74px;
  height: 74px;
  left: -17px;
  top: 622px;
  background: rgba(255, 255, 255, 0);
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 25px 0px;
  @media screen and(min-width:768px) {
    width: 71px;
    height: 64px;
    left: 667px;
    top: 0;
    background: rgba(255, 255, 255, 0);
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 35px 0px 0px;
    transform: rotate(180deg);
  }
  @media screen and(min-width:1440px) {
    width: 137px;
    height: 144px;
    left: 1271px;
    top: 70%;
    background: rgba(255, 255, 255, 0);
    border-radius: 72px 0px;
  }
}
