<section class="hero">
  <div class="container take-printing__container">
    <div class="figure-printing__left"></div>
    <div class="figure-printing__right"></div>

    <div class="model-examples__wrap">
      <h1 class="section__title section__title-printing">МИ СТВОРЮЄМО</h1>
      <ul class="model-examples__list">
        <li class="model-examples__item">
          <div class="model-examples__block">
            <div class="model-examples__block-img">
              <picture>
                <source
                  srcset="
                    ./images/model-examples/energy-desk.jpeg    1x,
                    ./images/model-examples/energy-desk_2x.jpeg 2x
                  "
                  media="(min-width:1440px)"
                />

                <source
                  srcset="
                    ./images/model-examples/energy-tab.jpeg    1x,
                    ./images/model-examples/energy-tab_2x.jpeg 2x
                  "
                  media="(min-width:768px)"
                />

                <source
                  srcset="
                    ./images/model-examples/energy-mob.jpeg    1x,
                    ./images/model-examples/energy-mob_2x.jpeg 2x
                  "
                  media="(max-width:767px)"
                />

                <img
                  src="./images/model-examples/energy-desk_2x.jpeg"
                  alt="energy"
                />
              </picture>
            </div>
            <p class="model-examples__pretitle">ПРОТОТИПИ</p>
          </div>
        </li>
        <li class="model-examples__item">
          <div class="model-examples__block">
            <div class="model-examples__block-img">
              <picture>
                <source
                  srcset="
                    ./images/model-examples/castle-desk.jpeg    1x,
                    ./images/model-examples/castle-desk_2x.jpeg 2x
                  "
                  media="(min-width:1440px)"
                />

                <source
                  srcset="
                    ./images/model-examples/castle-tab.jpeg    1x,
                    ./images/model-examples/castle-tab_2x.jpeg 2x
                  "
                  media="(min-width:768px)"
                />

                <source
                  srcset="
                    ./images/model-examples/castle-mob.jpeg    1x,
                    ./images/model-examples/castle-mob_2x.jpeg 2x
                  "
                  media="(max-width:767px)"
                />

                <img
                  src="./images/model-examples/castle-desk_2x.jpeg"
                  alt="castle"
                />
              </picture>
            </div>
            <p class="model-examples__pretitle">МАКЕТИ</p>
          </div>
        </li>
        <li class="model-examples__item">
          <div class="model-examples__block">
            <div class="model-examples__block-img">
              <picture>
                <source
                  srcset="
                    ./images/model-examples/decor-desk.jpeg    1x,
                    ./images/model-examples/decor-desk_2x.jpeg 2x
                  "
                  media="(min-width:1440px)"
                />
                <source
                  srcset="
                    ./images/model-examples/decor-tab.jpeg    1x,
                    ./images/model-examples/decor-tab_2x.jpeg 2x
                  "
                  media="(min-width:768px)"
                />

                <source
                  srcset="
                    ./images/model-examples/decor-mob.jpeg    1x,
                    ./images/model-examples/decor-mob_2x.jpeg 2x
                  "
                  media="(max-width:767px)"
                />

                <img
                  src="./images/model-examples/decor-desk_2x.jpeg"
                  alt="decor"
                />
              </picture>
            </div>
            <p class="model-examples__pretitle">ДЕКОР</p>
          </div>
        </li>
        <li class="model-examples__item">
          <div class="model-examples__block">
            <div class="model-examples__block-img">
              <picture>
                <source
                  srcset="
                    ./images/model-examples/3Dcoub-desk.jpeg    1x,
                    ./images/model-examples/3Dcoub-desk_2x.jpeg 2x
                  "
                  media="(min-width:1440px)"
                />
                <source
                  srcset="
                    ./images/model-examples/3Dcoub-tab.jpeg    1x,
                    ./images/model-examples/3Dcoub-tab_2x.jpeg 2x
                  "
                  media="(min-width:768px)"
                />

                <source
                  srcset="
                    ./images/model-examples/3Dcoub-mob.jpeg    1x,
                    ./images/model-examples/3Dcoub-mob_2x.jpeg 2x
                  "
                  media="(max-width:767px)"
                />

                <img
                  src="./images/model-examples/3Dcoub-desk_2x.jpeg"
                  alt="3D coub"
                />
              </picture>
            </div>
            <p class="model-examples__pretitle">КОРПОРАТИВНИЙ<br />ДИЗАЙН</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
