<section class="section description section--padding-bottom">
  <div class="container">
    <div class="reatangle-accent1"></div>
    <div class="reatangle-accent2"></div>
    <div class="reatangle-accent3"></div>
    <div class="reatangle-accent4"></div>
    <div class="reatangle-accent5"></div>

    <h2 class="section__title visually-hidden">Процес створення 3D виробу</h2>
    <ul class="process-description list">
      <li class="process-description__item">
        <div class="process-description__picture">
          <picture>
            <source
              srcset="
                ./images/printing_description/Printing-3D-printing-desc.jpg        1x,
                ./images/printing_description/Printing-3D-printing-desc-retina.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/printing_description/Printing-3D-printing-tablet.jpg        1x,
                ./images/printing_description/Printing-3D-printing-tablet-retina.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/printing_description/Printing-3D-printing-mobile.jpg        1x,
                ./images/printing_description/Printing-3D-printing-mobile-retina.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="process-description__img"
              src="./images/printing_description/Printing-3D-printing-tablet.jpg"
              alt="зображення 3D друку"
            />
          </picture>
        </div>

        <div class="process-description__container">
          <p class="process-description__text">
            <span>3D-ДРУК</span> - ми використовуємо FDM технологію друку. Вона
            представляє собою пошарове формування об'єкта за допомогою 3D
            принтера.
          </p>
          <p class="process-description__text">
            Моделі для створення розроблюються дизайнерами в спеціальному
            програмному забезпеченні: системах автоматизованого проектування.
          </p>
          <p class="process-description__text">
            3D друк знайшов широке застосування в архітектурі, промисловості,
            маркетингу, мистецтві і багатьох інших сфер.
          </p>
          <a href="./take-order.html" class="button button--left"
            >ЗРОБИТИ ЗАМОВЛЕННЯ</a
          >
        </div>
      </li>
      <li class="process-description__item">
        <div class="process-description__picture">
          <picture>
            <source
              srcset="
                ./images/printing_description/Printing-3D-model-desc.jpg        1x,
                ./images/printing_description/Printing-3D-model-desc-retina.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/printing_description/Printing-3D-model-tablet.jpg        1x,
                ./images/printing_description/Printing-3D-model-tablet-retina.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/printing_description/Printing-3D-model-mobile.jpg        1x,
                ./images/printing_description/Printing-3D-model-mobile-retina.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="process-description__img"
              src="./images/printing_description/Printing-3D-model-tablet.jpg"
              alt="зображення 3D моделювання"
            />
          </picture>
        </div>
        <div class="process-description__container">
          <p class="process-description__text">
            <span>3D-МОДЕЛЮВАННЯ </span>
            - це процес розробки математичного уявлення будь-якої поверхні
            об'єкта в трьох вимірах за допомогою спеціалізованого програмного
            забезпечення.
          </p>
          <p class="process-description__text">
            Наші дизайнери зпроектують будь-який виріб виходячи з ваших
            побажань.
          </p>
          <p class="process-description__text">
            Розуміючи специфіку 3D друку і ваших задач ми створимо деталь яка
            повністю задовольнить ваші потреби.
          </p>
          <a href="./take-order.html" class="button button--left"
            >ЗРОБИТИ ЗАМОВЛЕННЯ</a
          >
        </div>
      </li>
      <li class="process-description__item">
        <div class="process-description__picture">
          <picture>
            <source
              srcset="
                ./images/printing_description/Printing-3D-scan-desc.jpg        1x,
                ./images/printing_description/Printing-3D-scan-desc-retina.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/printing_description/Printing-3D-scan-tablet.jpg        1x,
                ./images/printing_description/Printing-3D-scan-tablet-retina.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/printing_description/Printing-3D-scan-mobile.jpg        1x,
                ./images/printing_description/Printing-3D-scan-mobile-retina.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="process-description__img"
              src="./images/printing_description/Printing-3D-scan-tablet.jpg"
              alt="зображення 3D сканування"
            />
          </picture>
        </div>
        <div class="process-description__container">
          <p class="process-description__text">
            <span>3D-СКАНУВАННЯ </span> - зняття даних, шляхом аналізу форми
            предмета і на основі отриманих даних створення її 3D-моделі.
          </p>
          <p class="process-description__text">
            Це універсальний інструмент, який дозволяє отримати як і просто
            3D-модель для візуалізації в цифровому вигляді, так і 3D-модель для
            подальшого її друку на 3D-принтері.
          </p>

          <a href="./take-order.html" class="button button--left"
            >ЗРОБИТИ ЗАМОВЛЕННЯ</a
          >
        </div>
      </li>
    </ul>
  </div>
</section>
